* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../img/Background\ solo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

a {
    text-decoration: none;
    color: rgb(78, 78, 78);
}

header {
    display: flex;
    min-height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.986);
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }
}

.marco {
    display: flow-root;
    position: absolute;
    top: 7.5%;
    left: 1%;
    right: 1%;
    bottom: 2%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.116);
    padding: 1.5rem;
}

.form-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40rem;
    min-width: 2.5rem;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 4.375rem;
    margin-top: 3.75rem;
    margin-bottom: 1.25rem;
    padding: 0px;
}

.text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

.form-body input {
    display: block;
    margin: auto;
    height: 2.5rem;
    width: 75%;
    padding-left: 0.625rem;
    color: rgb(11, 49, 43);
    border: 1px solid rgb(70, 69, 69);
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 1rem;
    outline: none;
}


.form-body input[type="url"] {
    margin-top: 0;
}

.form-body input[type="text"] {
    margin-top: 0.9375rem;
}


.form-body input[type="email"] {
    margin-top: 0.9375rem;
}

.form-body textarea[name="descripción"] {
    display: block;
    margin: auto;
    margin-top: 0.9375rem;
    margin-left: 4.875rem;
    margin-bottom: 0.9375rem;
    height: 10.625rem;
    width: 75%;
    padding-top: 0.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.625rem;
    color: rgb(11, 49, 43);
    border: 1px solid rgb(70, 69, 69);
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    font-size: 1rem;
    outline: none;
    resize: none;
}

.form-body textarea[placeholder="Descripción"] {
    font-size: 1rem;
    color: rgba(97, 99, 98, 0.952);
    height: 10.625rem;
    float: left;
}

::placeholder {
    font-size: 1rem;
    color: rgba(97, 99, 98, 0.952);
    margin-top: 0.625rem;
    margin-left: 0.625rem;
    height: 10.625rem;
    float: left;
}

.form-body input:hover {
    transition: 0.5s;
    border: 1px solid rgb(133, 87, 126);
    color: rgb(43, 64, 68);
}

.form-body button {
    position: absolute;
    top: 98%;
    left: 77%;
    transform: translateX(-50%);
    margin-top: 0.75rem;
    margin-bottom: 1.5625rem;
    height: 2.5rem;
    width: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: rgb(77, 164, 167);
    color: rgba(255, 255, 255, 0.938);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1.5px solid rgb(1, 55, 65);
    transition: all 0.5s ease;
}

.form-body button:hover {
    color: rgb(255, 255, 255);
    border: rgb(16, 50, 54);
    background: linear-gradient(#6d586d, #38595f);
}

@media (max-width: 700px) {

    .marco {
        width: auto;
        height: auto;
    }

    .form-body {
        width: 90%;
        height: 90%;
        margin-top: 0.125rem;
        margin-left: 1.25rem;
        margin-right: 0;
        align-items: center;
    }

    .form-body input {
        width: 100%;
    }

    .form-body button {
        width: 7rem;
        margin-top: 0.75rem;
        margin-left: 80%;
        margin-bottom: 1.5625rem;
        position: static;
    }

    .form-body textarea[name="descripción"] {
        width: 100%;
        margin-left: 0;
    }
}