* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(../img/Background\ solo.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed; 
}

.text {
    text-align: center;
    color: 1px rgb(163, 163, 163);
    margin-left: 500px;
    font-size: 1rem;
}

header{
    display:flex;
    min-height: 2.5rem;
    background-color:white;
    justify-content:flex-start;
    align-items: center;
    padding: 10px;
}

.logo{
    display:flex;
    align-items: center;
}

.logo img{
    height:30px;
}

.marco{
    display:flow-root;
    width: 113.5rem;
    height: 54.2rem;
    min-width: 2.5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.116);
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    padding:1.5rem;
}

.form-body {
    display:flow-root;
    width: 85rem;
    height: 40rem;
    min-width: 2.5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.959);
    margin-left: 12rem;
    margin-top: 6rem;
    margin-right: 3rem;
    margin-bottom: 1.25rem;
    padding:3rem;
    padding-left: 3.75rem;
}

.form-body select[name="Titulo"]{
    height: 30px;
    width: 45%;
    margin-left: 1.5rem;
    padding-left:30px;
    color:rgb(11, 49, 43);
    border: 1px solid rgb(70, 69, 69);
    border-radius: 2px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 1rem;
    outline: none;
}

.form-body select[name="Datos del estudiante"]{
    height: 30px;
    width: 30%;
    margin-left: 1.5rem;
    padding-left:30px;
    color:rgb(11, 49, 43);
    border: 1px solid rgb(70, 69, 69);
    border-radius: 2px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 1rem;
    outline: none;
}

.form-body input[id=descripcion] {
    display: block;
    margin-top: 1rem;
    margin-left: 11.7rem;
    margin-bottom: 2rem;
    height: 5rem;
    width: 45%;
    padding-left: 10px;
    color:rgb(11, 49, 43);
    border: 1px solid rgb(70, 69, 69);
    border-radius: 2px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 1rem;
    outline: none;
}

.form-body h1{
    text-align: left;
    font-size: 1rem;
    color: rgb(97, 97, 97);
    margin-bottom: 1rem;
}

.creatividad-container {
    display: flex;
    color: rgb(97, 96, 96);
}

.rating {
    margin-left: 35rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

.rating label {
    font-size: 20px;
    color: gray;
  }
  
.rating input[type="radio"] {
    display: none;
  }
   
.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
.rating  label:hover,
.rating  label:hover ~ label {
    color: orange;
  }
  
.rating input[type="radio"]:checked ~ label {
    color: orange;
  }

.recursos-container {
    display: flex;
    color: rgb(97, 96, 96);
}

.rating1 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

.rating1 label {
    font-size: 20px;
    color: gray;
  }
  
.rating1 input[type="radio"] {
    display: none;
  }
   
.rating1 {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
.rating1  label:hover,
.rating1  label:hover ~ label {
    color: orange;
  }
  
.rating1 input[type="radio"]:checked ~ label {
    color: orange;
  }

.decisiones-container {
    display: flex;
    color: rgb(97, 96, 96);
}

.rating2 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

.rating2 label {
    font-size: 20px;
    color: gray;
  }
  
.rating2 input[type="radio"] {
    display: none;
  }
   
.rating2 {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
.rating2  label:hover,
.rating2  label:hover ~ label {
    color: orange;
  }
  
.rating2 input[type="radio"]:checked ~ label {
    color: orange;
  }

.ayuda-container {
    display: flex;
    color: rgb(97, 96, 96);
}

.rating3 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

.rating3 label {
    font-size: 20px;
    color: gray;
  }
  
.rating3 input[type="radio"] {
    display: none;
  }
   
.rating3 {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
.rating3  label:hover,
.rating3  label:hover ~ label {
    color: orange;
  }
  
.rating3 input[type="radio"]:checked ~ label {
    color: orange;
  }

.seguridad-container {
    display: flex;
    color: rgb(97, 96, 96);
}

.rating4 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

.rating4 label {
    font-size: 20px;
    color: gray;
  }
  
.rating4 input[type="radio"] {
    display: none;
  }
   
.rating4 {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
.rating4  label:hover,
.rating4  label:hover ~ label {
    color: orange;
  }
  
.rating4 input[type="radio"]:checked ~ label {
    color: orange;
  }

.convivencia-container {
    display: flex;
    color: rgb(97, 96, 96);
}

.rating5 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

.rating5 label {
    font-size: 20px;
    color: gray;
  }
  
.rating5 input[type="radio"] {
    display: none;
  }
   
.rating5 {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
.rating5  label:hover,
.rating5  label:hover ~ label {
    color: orange;
  }
  
.rating5 input[type="radio"]:checked ~ label {
    color: orange;
  }

  .form-body input[id=comentario] {
    margin-top: 0rem;
    margin-left: 0rem;
    height: 1.8rem;
    width: 30%;
    padding-left: 10px;
    color:rgb(97, 97, 97);
    border: 1px solid rgb(70, 69, 69);
    border-radius: 2px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 0.8rem;
    text-align: left;
}

.form-body input:hover {
    transition: 0.5s;
    border: 1px solid rgb(133, 87, 126);
    color: rgb(43, 64, 68);
}

.form-body button {
    display: block;
    margin: auto;
    margin-top: 12px;
    margin-left: 30rem;
    margin-bottom: 25px;
    height: 40px;
    width: 23%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: rgb(77, 164, 167);
    color:rgba(255, 255, 255, 0.938);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1.5px solid rgb(1, 55, 65);
    transition: all 0.5s ease;
}

.form-body button:hover {
    color:rgb(255, 255, 255);
    border:rgb(16, 50, 54);
    background: linear-gradient(#6d586d, #38595f);
}